{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {{ form_start(form) }}
        {{ form_row(form.visit_date) }}
        {{ form_row(form.half_day) }}
        {{ form_row(form.number_ticket) }}
        <input type="submit" class="btn btn-info" value="Continuer"/>
        {{ form_end(form) }}
    </div>
{% endblock %}