{% extends 'base.html.twig' %}


{% block title %}{{ parent() }} | Booking {% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/jquery-ui/themes/cupertino/jquery-ui.css') }}" rel="stylesheet">


{% endblock %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <h1>Bienvenue sur le service de réservation en ligne du Musée du Louvre </h1>
            </div>
        </div>


        {{ form_start(form) }}

        {{ form_errors(form) }}
        {{ form_row(form.visit_date, {'attr': {'placeholder': 'Date de visite', 'class': 'form-control'},'label_attr': {'class': 'sr-only'} }) }}
        {{ form_row(form.email, {'attr': {'placeholder': 'Email', 'class': 'form-control'},'label_attr': {'class': 'sr-only'} }) }}
        {{ form_row(form.half_day) }}
        <span id="halfday" class="help-block"></span>


        <div class="booking_visitors"
             data-prototype="{{ form_widget(form.visitors.vars.prototype)|e }}">
        </div>

        {{ form_row(form.visitors, {'label_attr': {'class': 'sr-only'}}) }}

        <button id="add_form" class="btn btn-default">Ajouter un visiteur</button>


        <input type="submit" class="btn btn-info pull-right" value="Continuer"/>
        {{ form_end(form) }}

    </div>


{% endblock %}
{% block footer %}
    <div class="container">
        <em>(*)Tarif étudiant, employé du musée, d’un service du Ministère de la Culture, militaire... Un justificatif
            vous sera demandé à l'entrée du musée</em>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/jquery-ui/jquery-ui.js') }}"></script>
    <script src="{{ asset('assets/js/form.js') }}"></script>

{% endblock %}