{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} | Récapitulatif{% endblock %}

{% block body %}
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Tarif</th>
            </tr>
            </thead>
            {% for visitor in visitors %}
                <tr>
                    <td>
                        {{ visitor.firstname }}
                    </td>
                    <td>
                        {{ visitor.lastname }}
                    </td>
                    <td>
                        {{ visitor.price }} €
                    </td>
                </tr>

            {% endfor %}
            <tfoot>
            <tr>
                <th></th>
                <th>Total</th>
                <th>{{ booking.totalPrice }} €</th>
            </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}
