<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Ticket{% endblock %}</title>
    <link rel="stylesheet" href="{{ absolute_url(asset('assets/bootstrap/dist/css/bootstrap.min.css')) }}">
    <style>
        .imageFoot{
            background-image: url({{ absolute_url(asset('assets/images/fondticket.png')) }});
            -webkit-background-size: cover;
            background-size: cover;
            height: 400px;
        }
        .ticket{
            margin: 150px 0 270px 0;
        }
    </style>
</head>
<body>

<div class="container-fluid">

    <div class="row">
        <div id="qrcode" class="col-xs-4">
            <img src="{{ qrcode_data_uri(ticketNb, {size: 200, padding: 10}) }}" alt="qrCode">
        </div>
        <div class="col-xs-4 col-xs-offset-4">
            <img src="{{ absolute_url(asset('assets/images/logo-louvre.jpg')) }}" alt="logo du louvre">
        </div>
    </div>

    <div class="col-row ticket">
        <div class="col-xs-9">
            <h1>Ticket {{ priceName }} {% if half_day %}
                    <small>Demi-journée</small> {% endif %}</h1>
            <ul class="list-unstyled">
                <li><b>Nom: </b>{{ firstName }} {{ lastName }}</li>
                <li><b>Prix :</b> {{ bill/100 }} €</li>
                <li><b>Date de visite: </b>{{ visite_date }}</li>
                <li><b>Numéro de ticket: </b>{{ ticketNb }}</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="imageFoot col-xs-12"></div>
    </div>

</div>
<script src="{{ absolute_url(asset('assets/jquery/dist/jquery.min.js')) }}"></script>
<script src="{{ absolute_url(asset('assets/bootstrap/dist/js/bootstrap.min.js')) }}"></script>
</body>
</html>